<div>
  <div class='fullwidth-template'>
    <div class='tanajil-blog-wraap default'>
      <div class='container'>
        <h3 class='custommenu-title-blog'>
          Our Latest News
        </h3>
        <div class='tanajil-blog default'>
          <div
            class='owl-slick equal-container nav-center'
            data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":true, "speed":800, "rows":1}'
            data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":3}},{"breakpoint":"1200","settings":{"slidesToShow":3}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"768","settings":{"slidesToShow":2}},{"breakpoint":"481","settings":{"slidesToShow":1}}]'
          >
            {{#if user}}
              <div>
                <h3>Total Product: {{productsNumber}} </h3>
                <h3>Total Order: {{numberOfOrder}} </h3>
                <h3>earned:$ {{totalEarn}}</h3>
              </div>
              <div>
                <h3>Top Seller</h3>
                {{#each topSellProductInfo}}
                  <p>
                    <img
                      src='{{pic}}'
                      alt='{{name}}'
                      style='width: 60px; height: 80px'
                    />
                    {{name}}
                    : sell times
                    {{sellCount}}</p>
                {{/each}}
              </div>
            {{/if}}
            <div class='tanajil-blog-item equal-element layout1'>
              <div class='post-thumb'>
                <a href='#'>
                  <img
                    src='assets\\\beam_saber_images\lastes_new_1.png'
                    alt='img'
                  />
                </a>
                <div class='category-blog'>
                  <ul class='list-category'>
                    <li class='category-item'>
                      <a href='#'>Skincare</a>
                    </li>
                  </ul>
                </div>
                <div class='post-item-share'>
                  <a href='#' class='icon'>
                    <i class='fa fa-share-alt' aria-hidden='true'></i>
                  </a>
                  <div class='box-content'>
                    <a href='#'>
                      <i class='fa fa-facebook'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-twitter'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-google-plus'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-pinterest'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-linkedin'></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class='blog-info'>
                <div class='blog-meta'>
                  <div class='post-date'>
                    Agust 17, 09:14 am
                  </div>
                  <span class='view'>
                    <i class='icon fa fa-eye' aria-hidden='true'></i>
                    631
                  </span>
                  <span class='comment'>
                    <i class='icon fa fa-commenting' aria-hidden='true'></i>
                    84
                  </span>
                </div>
                <h2 class='blog-title'>
                  <a href='#'>We bring you the best </a>
                </h2>
                <div class='main-info-post'>
                  <p class='des'>
                    Phasellus condimentum nulla a arcu lacinia, a venenatis ex
                    congue. Mauris nec ante magna.
                  </p>
                  <a class='readmore' href='#'>Read more</a>
                </div>
              </div>
            </div>
            <div class='tanajil-blog-item equal-element layout1'>
              <div class='post-thumb'>
                <a href='#'>
                  <img
                    src='assets\\\\\\\beam_saber_images\lastes_new_2.png'
                    alt='img'
                  />
                </a>
                <div class='category-blog'>
                  <ul class='list-category'>
                    <li class='category-item'>
                      <a href='#'>HOW TO</a>
                    </li>
                  </ul>
                </div>
                <div class='post-item-share'>
                  <a href='#' class='icon'>
                    <i class='fa fa-share-alt' aria-hidden='true'></i>
                  </a>
                  <div class='box-content'>
                    <a href='#'>
                      <i class='fa fa-facebook'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-twitter'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-google-plus'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-pinterest'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-linkedin'></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class='blog-info'>
                <div class='blog-meta'>
                  <div class='post-date'>
                    Agust 17, 09:14 am
                  </div>
                  <span class='view'>
                    <i class='icon fa fa-eye' aria-hidden='true'></i>
                    631
                  </span>
                  <span class='comment'>
                    <i class='icon fa fa-commenting' aria-hidden='true'></i>
                    84
                  </span>
                </div>
                <h2 class='blog-title'>
                  <a href='#'>We know that buying a gundam frame</a>
                </h2>
                <div class='main-info-post'>
                  <p class='des'>
                    Using Lorem Ipsum allows designers to put together layouts
                    and the form content
                  </p>
                  <a class='readmore' href='#'>Read more</a>
                </div>
              </div>
            </div>
            <div class='tanajil-blog-item equal-element layout1'>
              <div class='post-thumb'>
                <div class='video-tanajil-blog'>
                  <figure>
                    <img
                      src='assetsbeam_saber_images\\\lastes_new_3.png'
                      alt='img'
                      width='370'
                      height='280'
                    />
                  </figure>
                  <a
                    class='quick-install'
                    href='#'
                    data-videosite='vimeo'
                    data-videoid='31685899'
                  ></a>
                </div>
                <div class='category-blog'>
                  <ul class='list-category'>
                    <li class='category-item'>
                      <a href='#'>VIDEO</a>
                    </li>
                  </ul>
                </div>
                <div class='post-item-share'>
                  <a href='#' class='icon'>
                    <i class='fa fa-share-alt' aria-hidden='true'></i>
                  </a>
                  <div class='box-content'>
                    <a href='#'>
                      <i class='fa fa-facebook'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-twitter'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-google-plus'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-pinterest'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-linkedin'></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class='blog-info'>
                <div class='blog-meta'>
                  <div class='post-date'>
                    Agust 17, 09:14 am
                  </div>
                  <span class='view'>
                    <i class='icon fa fa-eye' aria-hidden='true'></i>
                    631
                  </span>
                  <span class='comment'>
                    <i class='icon fa fa-commenting' aria-hidden='true'></i>
                    84
                  </span>
                </div>
                <h2 class='blog-title'>
                  <a href='#'>We design functional Gundam</a>
                </h2>
                <div class='main-info-post'>
                  <p class='des'>
                    Risus non porta suscipit lobortis habitasse felis, aptent
                    interdum pretium ut.
                  </p>
                  <a class='readmore' href='#'>Read more</a>
                </div>
              </div>
            </div>
            <div class='tanajil-blog-item equal-element layout1'>
              <div class='post-thumb'>
                <a href='#'>
                  <img
                    src='assetsbeam_saber_images\\\\\\\lastes_new_4.png'
                    alt='img'
                  />
                </a>
                <div class='category-blog'>
                  <ul class='list-category'>
                    <li class='category-item'>
                      <a href='#'>Skincare</a>
                    </li>
                  </ul>
                </div>
                <div class='post-item-share'>
                  <a href='#' class='icon'>
                    <i class='fa fa-share-alt' aria-hidden='true'></i>
                  </a>
                  <div class='box-content'>
                    <a href='#'>
                      <i class='fa fa-facebook'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-twitter'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-google-plus'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-pinterest'></i>
                    </a>
                    <a href='#'>
                      <i class='fa fa-linkedin'></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class='blog-info'>
                <div class='blog-meta'>
                  <div class='post-date'>
                    Agust 17, 09:14 am
                  </div>
                  <span class='view'>
                    <i class='icon fa fa-eye' aria-hidden='true'></i>
                    631
                  </span>
                  <span class='comment'>
                    <i class='icon fa fa-commenting' aria-hidden='true'></i>
                    84
                  </span>
                </div>
                <h2 class='blog-title'>
                  <a href='#'>We know that buying gunpla</a>
                </h2>
                <div class='main-info-post'>
                  <p class='des'>
                    Class integer tellus praesent at torquent cras, potenti erat
                    fames volutpat etiam.
                  </p>
                  <a class='readmore' href='#'>Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='instagram-wrapp'>
  <div>
    <h3 class='custommenu-title-blog'>
      <i class='flaticon-instagram' aria-hidden='true'></i>
      Instagram Feed
    </h3>
    <div class='tanajil-instagram'>
      <div
        class='instagram owl-slick equal-container'
        data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":false, "infinite":true, "speed":800, "rows":1}'
        data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":5}},{"breakpoint":"1200","settings":{"slidesToShow":4}},{"breakpoint":"992","settings":{"slidesToShow":3}},{"breakpoint":"768","settings":{"slidesToShow":2}},{"breakpoint":"481","settings":{"slidesToShow":2}}]'
      >
        <div class='item-instagram'>
          <a href='#'>
            <img
              src='assets\\\\\\\beam_saber_images\insta_feed1.png'
              alt='img'
            />
          </a>
          <span class='text'>
            <i class='icon flaticon-instagram' aria-hidden='true'></i>
          </span>
        </div>
        <div class='item-instagram'>
          <a href='#'>
            <img
              src='assets\\\\\\\beam_saber_images\insta_feed2.png'
              alt='img'
            />
          </a>
          <span class='text'>
            <i class='icon flaticon-instagram' aria-hidden='true'></i>
          </span>
        </div>
        <div class='item-instagram'>
          <a href='#'>
            <img
              src='assets\\\\\\\beam_saber_images\insta_feed3.png'
              alt='img'
            />
          </a>
          <span class='text'>
            <i class='icon flaticon-instagram' aria-hidden='true'></i>
          </span>
        </div>
        <div class='item-instagram'>
          <a href='#'>
            <img
              src='assets\\\\\\\beam_saber_images\insta_feed4.png'
              alt='img'
            />
          </a>
          <span class='text'>
            <i class='icon flaticon-instagram' aria-hidden='true'></i>
          </span>
        </div>
        <div class='item-instagram'>
          <a href='#'>
            <img
              src='assets\\\\\\\beam_saber_images\insta_feed5.png'
              alt='img'
            />
          </a>
          <span class='text'>
            <i class='icon flaticon-instagram' aria-hidden='true'></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>